<form #f="ngForm" (ngSubmit)="submit(f)">
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input
      required
      minlength="3"
      maxlength="10"
      pattern="banana"
      ngModel
      name="firstName"
      #firstName="ngModel"
      (change)="log(firstName)"
      id="firstName"
      type="text"
      class="form-control"
    />
    <div
      class="alert alert-danger"
      *ngIf="firstName.touched && !firstName.valid"
    >
      <div *ngIf="firstName.errors?.required">First Name is required</div>
      <div *ngIf="firstName.errors?.minlength">
        First Name Should be min
        {{ firstName.errors?.minlength.requiredLength }} characters
      </div>
      <div *ngIf="firstName.errors?.pattern">Pattern Mismatch</div>
    </div>
  </div>
  <div class="form-group">
    <label for="comment">Comment</label>
    <textarea
      ngModel
      name="comment"
      id="comment"
      cols="30"
      rows="10"
      class="form-control"
    ></textarea>
  </div>
  <div class="checkbox">
    <label for="">
      <input type="checkbox" ngModel name="isSubscribed" />Subscribe to the
      mailing list
    </label>
  </div>
  <div class="form-group">
    <label for="contactMethod"> Contact Method </label>
    <select
      multiple
      ngModel
      name="contactMethod"
      id="contactMethod"
      class="form-control"
    >
      <option value=""></option>
      <option
        *ngFor="let contactMethod of contactMethods"
        [value]="contactMethod.id"
      >
        {{ contactMethod.name }}
      </option>
    </select>
  </div>
  <div *ngFor="let contactMethod of contactMethods" class="radio">
    <label>
      <input
        ngModel
        type="radio"
        name="radioContactMethod"
        [value]="contactMethod.id"
      />
      {{ contactMethod.name }}
    </label>
  </div>
  <p>{{ f.value | json }}</p>
  <button class="btn btn-primary btn-cont" [disabled]="!f.valid">Submit</button>
</form>
