<!--<div *ngIf="courses.length > 0; then courseList; else noCourses"></div>
<ng-template #courseList>List of Courses</ng-template>
<ng-template #noCourses>No courses available.</ng-template>
-->
<!-- <ul class="nav nav pills">
  <li [class.active]="viewMode == 'map'">
    <a (click)="viewMode = 'map'">Map View</a>
  </li>
  <li [class.active]="viewMode == 'list'">
    <a (click)="viewMode = 'list'">List View</a>
  </li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Default List View</div>
</div> -->

<!-- <button (click)="loadCourses()">Add</button>

<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse">
    {{ course.name }}
  </li>
</ul> -->

<!-- <input type="text" [appInputFormat]="'uppercase'" /> -->

<!-- <zippy title="Shipping Details">Shipping Details Components</zippy>
<zippy title="Billing Details">Billing Details Components</zippy> -->
<!-- <contact-form></contact-form> -->
<!-- <courses></courses> -->
<!-- <posts></posts> -->
<!-- <signup-form></signup-form> -->
<!-- <new-course-form></new-course-form> -->
<password-form></password-form>
