<form [formGroup]="form">
  <div class="form-group">
    <label for="oldPassword">Old Password</label>
    <input
      formControlName="oldPassword"
      type="password"
      class="form-control"
      id="oldPassword"
    />
    <div
      *ngIf="oldPassword?.touched && oldPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="oldPassword?.errors?.required">Old password is required</div>
      <div *ngIf="oldPassword?.errors?.oldPasswordCheck">
        Old password doesn't match
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="newPassword">New Password</label>
    <input
      formControlName="newPassword"
      type="password"
      class="form-control"
      id="newPassword"
    />
    <div
      *ngIf="newPassword?.touched && newPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="newPassword?.errors?.required">Old password is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="cnfPassword">Confirm Password</label>
    <input
      formControlName="cnfPassword"
      type="password"
      class="form-control"
      id="cnfPassword"
    />
    <div
      *ngIf="cnfPassword?.touched && cnfPassword?.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="cnfPassword?.errors?.required">
        Confirm password is required
      </div>
    </div>
    <div
      *ngIf="
        cnfPassword.valid && form.invalid && form.errors?.passwordShouldMatch
      "
      class="alert alert-danger"
    >
      Password do not match
    </div>
  </div>
  <br />
  <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
    Change Password
  </button>
</form>
